In [1]:
import pandas as pd
import numpy as np

# יצירת קובץ דאטה

class pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=None)

ניתן ליצור דאטה באמצעות מילון שבו המפתחות הם שמות התכונות והערכים הם רשימות

In [2]:
names = ['Tom', 'nick', 'krish', 'jack']
ages = [20, 21, 19, 18]
heights = [1.7, 1.6, 1.8, 2]
id = [20,29,13,78]
data = {'name':names, 'age':ages, 'height':heights}
df = pd.DataFrame(data, index=id)
df

     name  age  height
20    Tom   20     1.7
29   nick   21     1.6
13  krish   19     1.8
78   jack   18     2.0

#### קריאה מקובץ או לינק

pandas.read_csv(filepath_or_buffer, header='infer', names=_NoDefault.no_default, index_col=None, encoding=None)

In [3]:
url = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv'
vac_df = pd.read_csv(url)
vac_df.head(2)

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003

### קבלת מידע על הדאטה

In [28]:
df.shape
df.columns
df.dtypes
df.describe()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 20 to 78
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      string
 1   age     4 non-null      Int64
 2   height  4 non-null      Float64
dtypes: Float64(1), Int64(1), string(1)
memory usage: 136.0 bytes

# חיפוש

### חיפוש לפי ערך - loc

In [5]:
# select single column as series
vac_df['location']
# select single column as dataframe
vac_df[['location']]
# select multiple columns
vac_df[['location','date']]
# select based on condition
vac_df.loc[(vac_df.location == 'Israel') | (vac_df.location == 'Denmark')]
pass

### חיפוש לפי אינדקס - iloc

In [6]:
# select row as a series
vac_df.iloc[0]
# select row as a dataframe
vac_df.iloc[0:1]
# select 1st, 4th, 7th, 25th row + 1st 6th 7th columns
vac_df.iloc[[0,3,6,24], [0,5,6]]
pass

# עיבוד והכנה

### ספירה של ערכים ייחודיים

DataFrame.value_counts(subset=None, normalize=False, sort=True, ascending=False, dropna=True)

In [7]:
df.value_counts()

name   age  height
Tom    20   1.7       1
jack   18   2.0       1
krish  19   1.8       1
nick   21   1.6       1
dtype: int64

### הסרת שיכפולים

DataFrame.drop_duplicates(subset=None, *, keep='first', inplace=False, ignore_index=False)  

- subset: list of columns to consider for identifying duplicates, by default use all of the columns.
- keep: ‘first’, ‘last’, False (drop all duplicates)
- ignore_index: bool. If True, the resulting axis will be labeled 0, 1, …, n - 1.

In [8]:
df2 = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum'],
    'style': ['cup', 'cup'],
    'rating': [4, 4]
})
df2.drop_duplicates()

     brand style  rating
0  Yum Yum   cup       4

### המרת טיפוסים
לעיתים טיפוס של תכונה מסוימת אינו מסוג הטיפוס שאנו רוצים. לדוגמה, עמודה עם ערכים מספריים אך הטיפוס הנוכחי שלה הוא מחרוזת.

#### convert_dtypes
דרך בסיסית אחת היא לתת לפונקציה convert_dtypes להבין לבד מה הטיפוס המתאים. שיטה זו יכולה להמיר את הטיפוס לאחד מהטיפוסים הבסיסיים: boolean, integer, float, string. לא תמיד היא עובדת היטב. לפני שמנסים שיטות אחרות, מומלץ קודם לנסות להבין כמה ערכים בעייתיים יש שמונעים המרה לטיפוס הנכון ולטפל בהם נקודתית.

In [9]:
print(df.dtypes)
df = df.convert_dtypes()
df.dtypes

name       object
age         int64
height    float64
dtype: object

name       string
age         Int64
height    Float64
dtype: object

### החלפת ערכים

DataFrame.replace(to_replace=None, value=_NoDefault.no_default, *, inplace=False, regex=False, method=_NoDefault.no_default)

In [10]:
df3 = pd.DataFrame({
    'A': ['bat', 'foo', 'bait'],
    'B': ['abc', 'bar', 'xyz']
})
df3.replace(to_replace=r'^ba.$', value='new', regex=True, inplace=True)
df3.replace({'abc' : 'abd', 'bait' : 'b'}, inplace=True)
df3

     A    B
0  new  abd
1  foo  new
2    b  xyz

### שינוי אינדקס

DataFrame.reset_index(level=None, *, drop=False, inplace=False, names=None)

In [11]:
print(vac_df.index)
vac_df.reset_index(drop=True).head(2)

RangeIndex(start=0, stop=146273, step=1)

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003

### ערכים חסרים

#### מספר ערכים חסרים בכל תכונה

In [12]:
vac_df[['total_vaccinations', 'people_vaccinated']].isna().sum()

total_vaccinations    76774
people_vaccinated     79821
dtype: int64

#### מילוי ערכים חסרים

DataFrame.fillna(value=None, *, method=None, axis=None, inplace=False, limit=None, downcast=None)

- value: to use to fill holes (e.g. 0), alternately a dict/Series/DataFrame of values specifying which value to use for each column.

In [13]:
vac_df['daily_vaccinations'].fillna(vac_df['daily_vaccinations'].median())

0         5755.0
1         1367.0
2         1367.0
3         1367.0
4         1367.0
           ...
146268    2076.0
146269    1714.0
146270    1529.0
146271    1344.0
146272    1126.0
Name: daily_vaccinations, Length: 146273, dtype: float64

#### מחיקת שורות שיש בהם ערך ריק

DataFrame.dropna(*, axis=0, how=_NoDefault.no_default, thresh=_NoDefault.no_default, subset=None, inplace=False)

- axis: 0/'index' - drop rows which contain missing values. 1/'columns' - drop columns which contain missing value.
- how: ‘any’ - If any NA values are present, drop that row or column. ‘all’ - If all values are NA, drop that row or column.
- thresh: int. Require that many non-NA values. Cannot be combined with how.
- subset: list of columns to consider.

In [14]:
vac_df.dropna(subset=['total_vaccinations', 'people_vaccinated'], inplace=True)
vac_df[['total_vaccinations', 'people_vaccinated']].isna().sum()

total_vaccinations    0
people_vaccinated     0
dtype: int64

### יצירת תכונות חדשות

#### המרת תכונות קטגוריות ל-one hot encoded 
לפני אימון מודל על דאטה חייב להמיר את כל התכונות שאינן מספריות. שיטה טובה וקלה לעשות זאת היא להמיר אותן ל-one hot encoded.

pandas.get_dummies(data, prefix=None, prefix_sep='_', dummy_na=False, columns=None, sparse=False, drop_first=False, dtype=None)

- prefix: String to append DataFrame column names. The default is column name.
- prefix_sep: string that separate between prefix and the categorical value.
- columns: list. Column names in the DataFrame to be encoded. If None then all the columns with object, string, or category dtype will be converted.
- dtype: data type for new columns

In [15]:
pd.get_dummies(df, prefix='', prefix_sep='', columns=['name'])

    age  height  Tom  jack  krish  nick
20   20     1.7    1     0      0     0
29   21     1.6    0     0      0     1
13   19     1.8    0     0      1     0
78   18     2.0    0     1      0     0

### מחיקת תכונות או שורות

DataFrame.drop(labels=None, *, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')

- index: single row index or list of indexes to drop.
- columns: single column or list of columns to drop.

In [18]:
df.drop(columns=['age'])

     name  height
20    Tom     1.7
29   nick     1.6
13  krish     1.8
78   jack     2.0

## חלוקה ל-train ו-test

DataFrame.sample(n=None, frac=None, replace=False, weights=None, random_state=None, axis=None, ignore_index=False)

- n: Number of items from axis to return. Cannot be used with frac. Default = 1 if frac = None.
- frac: Fraction of axis items to return. Cannot be used with n.
- replace: bool. Allow or disallow sampling of the same row more than once.
- weights: str or list. Default ‘None’ results in equal probability weighting.
- ignore_index: bool. If True, the resulting index will be labeled 0, 1, …, n - 1.

In [ ]:
train_df = df.sample(frac=0.8, random_state=0)
test_df = df.drop(train_df.index)

## יצירת label

In [ ]:
train_features = train_df.copy()
test_features = test_df.copy()
train_labels = train_features.pop('age')
test_labels = test_features.pop('age')

# Analyze

#### group rows by certain columns
DataFrame.groupby(by=None, axis=0, sort=True, group_keys=_NoDefault.no_default, dropna=True)

In [16]:
grouped_df = vac_df.groupby('location')[['daily_vaccinations']]
grouped_df.agg(['count', 'mean', 'std']).head(2)

            daily_vaccinations
                         count           mean            std
location
Afghanistan                 81   16550.629630   32774.333829
Africa                     710  985389.373239  640777.761535

#### sort
DataFrame.sort_values(by, *, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last', ignore_index=False)

In [17]:
grouped_df.sort_values('daily_vaccinations', ascending = False).head(2)

AttributeError: 'DataFrameGroupBy' object has no attribute 'sort_values'

#### pivot table
pandas.pivot_table(data, values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All', observed=False, sort=True)

In [ ]:
vac_df.pivot_table('daily_vaccinations', index='location', columns='date', aggfunc='mean')

## Series
contains list of value like single column

#### operations on Series

In [ ]:
df['name'].unique()

#### search 
Series.str.contains(pat, case=True, flags=0, na=None, regex=True)

Series.str.startswith(pat, na=None)

In [ ]:
vac_df.loc[vac_df['location'].str.contains('afg*', regex=True)]
vac_df.loc[vac_df['location'].str.startswith('isr', regex=True)]

return one value

In [ ]:
vac_df['total_vaccinations'].max()
vac_df['total_vaccinations'].min()
vac_df['total_vaccinations'].mean()
vac_df['total_vaccinations'].median()
pass.